* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* el alto seria la suma de los altos de los hijos */
    height: 100vh; /* altura fija de la ventana del navegador */

}

header{
    background-color: black;
    /* flex-basis: 5%; relativ*/
    height: 8vh; /* absoluto */
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header div#menu{
    color: white;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header #menu i{
    color: white;
    font-size: 30px

}
header figure{
    background-color: rosybrown;
    color: white;
    /* flex-basis: 20%; */
    height: 100%; 
}
header figure img{
    height: 100%;
}
header form{
    flex-basis: 25%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
header form input{
    background-color:antiquewhite;
    padding: 6px;
    border-radius: 15px;
    font-size: 20px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav{
    /* border: 1px solid white; */
    flex-basis: 30%;
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header nav a{ /*Algo de esta zona no funciona*/
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav a:hover{
    color: rgb(218, 253, 111)
}

header #carrito{
    /* border: 1px solid white; */
    color: white;
    flex-basis: 10%; 
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;   
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header #carrito i{
    font-size: 25px;
    color: green;
}
main {
    flex-basis: 95%;
    background-color: white;
    flex-direction: column;
    width: 100%;
    display: flex;
}
main nav {
    flex-direction: row;
    display: flex;
    border: 1px solid black;
    flex-basis: 20%;
    width: 30%;
    padding: 10px;
    position: relative;
    flex-wrap: wrap;
    margin-right: 160vh;
    justify-content: space-around;
}
main nav a {
    text-decoration: none;
    color: black;
}
main nav a#house {
    background-color: lightgray;
    border-radius: 5px;
    height: auto;
    width: 20px;
}
main div {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 80px;
}
main figure#Galeria {
    border: 1px solid black;
    align-items: center;
    width: 200px;
    flex-direction: column;
    display: flex;
    
}
main figure#Galeria img{
    height: auto;
    width: 100px;
    display: flex;
    object-fit: cover;
    margin-bottom: 10px;

}
main figure#Principal{
    flex-direction: row;
    height: 100%;
    border: 1px solid black;
    width: 50%;
    text-align: center;
}
main figure#Principal img {
    height: 60%;
    width: 60%;
    object-fit: cover;
    margin-top: 30px;
    
}
main div section#DetallesProducto {
    flex-basis: 30%;
    border: 1px solid black;
}
main section p .star i {
    font-size: 10px;
    color: yellow;
    margin-right: 3px;
}
main section p .valoracion {
    font-size: 15px;
    margin-right: 3px;
}
main section p .opiniones{
    font-size: 15px;
}
main section p .opina{
    font-size: 15px;
}
main section div#caracteristicas {
    border: 1px solid red;
    width: 100%;
    height: auto;
    
    
}
main section div#caracteristicas .dto{
    background-color: rgb(183,67,139);
    color: black;
    border-radius: 7px;
    height: 2%;
    border: 1px solid black;
    
}